pandas
numpy
matplotlib
seaborn
sentence-transformers
langchain
chromadb 
huggingface-hub
torch  # for models
gradio  # or streamlit
langchain-community
langchain-text-splitters
sentence-transformers
tqdm
transformers
langchain-huggingface
accelerate
bitsandbytes
torch
faiss-cpu